* {
    font-family: Roboto, Arial, "Sans-Serif";

}

main {
    display: flex;
    background-color: rgba(245, 245, 245, 0.2);
    justify-items: center;
    flex-direction: row;
    margin: auto 200px;
}

body {
    height: 100%;
    width: 100%;
}

.main-img {
    border-radius: 40%;
    flex: 1;
    padding: 100px;
}

.main-img img {
    border-radius: 10%;
    width: 400px;
}

.sign-up {
    background-color: white;
    justify-items: center;
    justify-content: center; 
    flex: 1;
    padding: 50px 0px; 
    text-align: center;
    
    

}


.sign-up .container1 {
    border: 1px rgb(211, 211, 211) solid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    width: 200px;
    display: inline-block;

    
}

.sign-up .container1 a {
    display: inline-block;
    justify-items: center;
    justify-content: center;

}

.sign-up form {
    background-color: white;
    justify-items: center;
    display: inline-block;

    
}

.sign-up form input {
    border: 1px solid rgb(211, 211, 211);
    width: 200px;
    height: 30px;
    border-radius: 3%;
    background-color: rgb(245, 245, 245);
    line-height: 2.5;
}

.sign-up form input[type=submit] {
    background-color: rgb(49, 125, 211);
    border: 0px solid;
    color: white;
    font-weight: 500;
    
}

.sign-up p {
    background-color: white;
    color: rgb(150, 168, 185);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    
    
}

.sign-up img {
    background-color: white;
    justify-self: center; 
    padding: 10px 10px;
    

}



.sign-up .firsttext p {
    background-color: white;
    font-size: 15px;
    padding: 200px 20px;
    text-align: center;
    

}

.sign-up .sectext {
    font-weight: normal;
    font-size: 15px;
    ;

}

.sign-up .sectext a {
    text-decoration: none;
    color: rgb(150, 168, 185);
    font-weight: 500;
    background-color: white;
}



.login {
    background-color: white;
    border: 1px rgb(211, 211, 211) solid;
    margin: 10px 50px;
    padding: auto 10px;
    width: 400px;

}

.login p {
    color: black;
    font-size: 13px;
    font-weight: 400;
}


.login a {
    text-decoration: none;
    color: dodgerblue;
}

.applinks {
    background-color: rgba(;, green, blue, alpha)

}

.applinks p {
    font-size: 13px;
    color: black;
    font-weight: 400;
    margin: 10px 0;
}

.applinks a {
    display: inline-block;

}


footer {
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(245, 245, 245, 0.2);
    width: 100%;

}

footer nav {
    text-align: center;
}

footer li {
    background-color: rgba(245, 245, 245, 0.2);
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: gray;
    

}

footer li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(245, 245, 245, 0.2);
    display: inline-block;
}